<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.pivotstudio.modulec.loginandregister">

    <application>
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ModifyPasswordActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.PrivacyActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.SetPasswordActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.VerificationCodeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>