<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.pivotstudio.modulep.hole">

    <application
        android:name="cn.pivotstudio.moduleb.libbase.base.app.BaseApplication"
        android:label="树洞模块-测试版"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Base"
        >
    <activity
        android:name=".ui.activity.HoleActivity"
        android:exported="true"
        android:launchMode="singleTask"
        android:windowSoftInputMode="stateVisible|adjustResize"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    </application>
</manifest>